services:
  db:
    image: postgres:15
    container_name: eventmanager-db
    restart: always
    env_file:
    - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - event-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: event-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - event-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: event-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - event-network
    volumes:
      - frontend_node_modules:/app/node_modules

volumes:
  postgres_data:
  frontend_node_modules:
  frontend_dist:

networks:
  event-network:
    driver: bridge
